<h1 class="my-4">Posts
</h1>
<!-- Blog Post -->
<div style="height: 450px; overflow-y: auto">
  <div class="card " *ngFor="let post of posts">
    <img class="card-img-top" src="{{post.image}}" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{post.title}}</h2>
      <p class="card-text">
        {{post.content}}
      </p>
      <p class="card-text">
        Created by <b>{{post?.author.name}}</b> at <b>{{post?.created_at | date:'dd/MM/yyyy HH:mm a'}}</b>
      </p>
    </div>
  </div>
</div>




